<a href="https://colab.research.google.com/github/hiraksarkar/BioBombe/blob/master/Process_Data_As_Biobombe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Pan Cancer Data Processing

[Source Notebook](https://github.com/greenelab/BioBombe/blob/76ec84f72f8c40f55871f90d5d7f12bc8c647b94/0.expression-download/2A.process-pancanatlas-data.ipynb)

In [0]:
import os
from urllib.request import urlretrieve

In [2]:
!wget http://api.gdc.cancer.gov/data/9a4679c3-855d-4055-8be9-3577ce10f66e -O EBPlusPlusAdjustPANCAN_IlluminaHiSeq_RNASeqV2-v2.geneExp.tsv

--2020-05-22 21:35:12--  http://api.gdc.cancer.gov/data/9a4679c3-855d-4055-8be9-3577ce10f66e
Resolving api.gdc.cancer.gov (api.gdc.cancer.gov)... 192.170.230.246, 2605:9a00:10:4008::102
Connecting to api.gdc.cancer.gov (api.gdc.cancer.gov)|192.170.230.246|:80... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://api.gdc.cancer.gov/data/9a4679c3-855d-4055-8be9-3577ce10f66e [following]
--2020-05-22 21:35:12--  https://api.gdc.cancer.gov/data/9a4679c3-855d-4055-8be9-3577ce10f66e
Connecting to api.gdc.cancer.gov (api.gdc.cancer.gov)|192.170.230.246|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1879492443 (1.8G) [application/octet-stream]
Saving to: ‘EBPlusPlusAdjustPANCAN_IlluminaHiSeq_RNASeqV2-v2.geneExp.tsv’

EBPlusPlusAdjustPAN 100%[===================>]   1.75G  15.1MB/s    in 1m 59s

2020-05-22 21:37:11 (15.1 MB/s) - ‘EBPlusPlusAdjustPANCAN_IlluminaHiSeq_RNASeqV2-v2.geneExp.tsv’ saved [1879492443/1879492443]

In [0]:
import os
import random
import pandas as pd

In [0]:
# Commit from https://github.com/cognoma/cancer-data/
sample_commit = 'da832c5edc1ca4d3f665b038d15b19fced724f4c'

url = 'https://raw.githubusercontent.com/cognoma/cancer-data/{}/mapping/tcga_cancertype_codes.csv'.format(sample_commit)
cancer_types_df = pd.read_csv(url,
                              dtype='str',
                              keep_default_na=False)

cancertype_codes_dict = dict(zip(cancer_types_df['TSS Code'],
                                 cancer_types_df.acronym))

In [9]:
cancer_types_df.head(2)

  TSS Code                        Source Site  ...  BCR acronym
0       01  International Genomics Consortium  ...  IGC      OV
1       02          MD Anderson Cancer Center  ...  IGC     GBM

[2 rows x 5 columns]

In [0]:
url = 'https://raw.githubusercontent.com/cognoma/cancer-data/{}/mapping/tcga_sampletype_codes.csv'.format(sample_commit)
sample_types_df = pd.read_csv(url, dtype='str')

In [0]:
sampletype_codes_dict = dict(zip(sample_types_df.Code,
                                 sample_types_df.Definition))

In [14]:
sample_types_df.head(2)

  Code             Definition Short Letter Code
0   01    Primary Solid Tumor                TP
1   02  Recurrent Solid Tumor                TR

In [0]:
genes_commit = 'ad9631bb4e77e2cdc5413b0d77cb8f7e93fc5bee'
url = 'https://raw.githubusercontent.com/cognoma/genes/{}/data/genes.tsv'.format(genes_commit)
gene_df = pd.read_table(url)

# Only consider protein-coding genes
gene_df = (
    gene_df.query("gene_type == 'protein-coding'")
)

In [17]:
gene_df.head(2)

   entrez_gene_id  ...                                            aliases
0               1  ...  alpha-1B-glycoprotein|HEL-S-163pA|epididymis s...
1               2  ...  alpha-2-macroglobulin|C3 and PZP-like alpha-2-...

[2 rows x 7 columns]

In [0]:
url = 'https://raw.githubusercontent.com/cognoma/genes/{}/data/updater.tsv'.format(genes_commit)
updater_df = pd.read_table(url)

old_to_new_entrez = dict(zip(updater_df.old_entrez_gene_id,
                             updater_df.new_entrez_gene_id))

In [0]:
file = os.path.join('EBPlusPlusAdjustPANCAN_IlluminaHiSeq_RNASeqV2-v2.geneExp.tsv')
tcga_expr_df = pd.read_table(file, index_col=0)

In [23]:
tcga_expr_df.shape

(20531, 11069)

In [25]:
tcga_expr_df[tcga_expr_df.columns[:2]].head(2)

             TCGA-OR-A5J1-01A-11R-A29S-07  TCGA-OR-A5J2-01A-11R-A29S-07
gene_id
?|100130426                        0.0000                        0.0000
?|100133144                        3.2661                        2.6815

In [0]:
tcga_expr_df.index = tcga_expr_df.index.map(lambda x: x.split('|')[1])

In [0]:
tcga_expr_df = (tcga_expr_df
    .dropna(axis='rows')
    .rename(index=old_to_new_entrez)
    .groupby(level=0).mean()
    .transpose()
    .sort_index(axis='rows')
    .sort_index(axis='columns')
)

tcga_expr_df.index.rename('sample_id', inplace=True)

In [0]:
# Update sample IDs to remove multiple samples measured on the same tumor
# and to map with the clinical information
tcga_expr_df.index = tcga_expr_df.index.str.slice(start=0, stop=15)
tcga_expr_df = tcga_expr_df.loc[~tcga_expr_df.index.duplicated(), :]

In [0]:
# Filter for valid Entrez gene identifiers
tcga_expr_df = tcga_expr_df.loc[:, tcga_expr_df.columns.isin(gene_df.entrez_gene_id.astype(str))]

In [30]:
print(tcga_expr_df.shape)
tcga_expr_df.head(5)

(11060, 16148)

gene_id                 1       10      100  ...     9993     9994     9997
sample_id                                    ...
TCGA-02-0047-01  125.0070  10.4490  136.452  ...  4815.14  288.269  299.948
TCGA-02-0055-01  391.8040   1.1212  222.004  ...  2228.45  309.460  787.106
TCGA-02-2483-01  271.8520   4.6438  255.831  ...  2737.73  306.491  457.203
TCGA-02-2485-01   83.9429  20.0000  129.048  ...  2979.05  439.524  426.667
TCGA-02-2486-01  108.2560   3.6585  205.488  ...  1340.24  251.220  541.463

[5 rows x 16148 columns]

In [0]:
# Extract sample type in the order of the gene expression matrix
tcga_id = pd.DataFrame(tcga_expr_df.index)

# Extract the last two digits of the barcode and recode sample-type
tcga_id = tcga_id.assign(sample_type = tcga_id.sample_id.str[-2:])
tcga_id.sample_type = tcga_id.sample_type.replace(sampletype_codes_dict)

# Extract the first two ID numbers after `TCGA-` and recode cancer-type
tcga_id = tcga_id.assign(cancer_type = tcga_id.sample_id.str[5:7])
tcga_id.cancer_type = tcga_id.cancer_type.replace(cancertype_codes_dict)

# Append cancer-type with sample-type to generate stratification variable
tcga_id = tcga_id.assign(stratify_samples = tcga_id.cancer_type.str.cat(tcga_id.sample_type))

# Get stratification counts - function cannot work with singleton strats
stratify_counts = tcga_id.stratify_samples.value_counts().to_dict()

# Recode stratification variables if they are singletons
tcga_id = tcga_id.assign(stratify_samples_count = tcga_id.stratify_samples)
tcga_id.stratify_samples_count = tcga_id.stratify_samples_count.replace(stratify_counts)
tcga_id.loc[tcga_id.stratify_samples_count == 1, "stratify_samples"] = "other"

In [0]:
!mkdir -p /content/drive/My\ Drive/BioBombe/pancandata

In [45]:
!ls /content/drive/My\ Drive/BioBombe/

pancandata

In [0]:
!cp EBPlusPlusAdjustPANCAN_IlluminaHiSeq_RNASeqV2-v2.geneExp.tsv /content/drive/My\ Drive/BioBombe/pancandata/

In [48]:
!ls /content/drive/My\ Drive/BioBombe/pancandata/

EBPlusPlusAdjustPANCAN_IlluminaHiSeq_RNASeqV2-v2.geneExp.tsv

In [0]:
data_folder = '/content/drive/My Drive/BioBombe/pancandata/'

In [0]:
file = os.path.join(data_folder, 'tcga_sample_identifiers.tsv')

(
    tcga_id.drop(['stratify_samples', 'stratify_samples_count'], axis='columns')
    .to_csv(file, sep='\t', index=False)
)

In [51]:
!ls /content/drive/My\ Drive/BioBombe/pancandata/

EBPlusPlusAdjustPANCAN_IlluminaHiSeq_RNASeqV2-v2.geneExp.tsv
tcga_sample_identifiers.tsv

In [52]:
tcga_id.head(2)

         sample_id  ... stratify_samples_count
0  TCGA-02-0047-01  ...                    154
1  TCGA-02-0055-01  ...                    154

[2 rows x 5 columns]

In [0]:
cancertype_count_df = (
    pd.DataFrame(tcga_id.cancer_type.value_counts())
    .reset_index()
    .rename({'index': 'cancertype', 'cancer_type': 'n ='}, axis='columns')
)

file = os.path.join(data_folder, 'tcga_sample_counts.tsv')
cancertype_count_df.to_csv(file, sep='\t', index=False)

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
train_df, test_df = train_test_split(tcga_expr_df,
                                     test_size=0.1,
                                     random_state=123,
                                     stratify=tcga_id.stratify_samples_count)

In [0]:
train_file = os.path.join(data_folder, 'train_tcga_expression_matrix_processed.tsv.gz')
train_df.to_csv(train_file, sep='\t', compression='gzip', float_format='%.3g')

In [0]:
test_file = os.path.join(data_folder, 'test_tcga_expression_matrix_processed.tsv.gz')
test_df.to_csv(test_file, sep='\t', compression='gzip', float_format='%.3g')

In [61]:
cancertype_count_df.head()

  cancertype   n =
0       BRCA  1218
1       KIRC   606
2       LUAD   576
3       THCA   572
4       UCEC   567

-------------------------------------

## Variational Auto Encoder